---
import Default from "@astrojs/starlight/components/Footer.astro";
import { Icon } from "@astrojs/starlight/components";
---

<Default><slot /></Default>
<div>
  <p class="footer-item">
    Copyright © {new Date().getFullYear()} katana-project contributors. Built with <Icon name="starlight" />
    <a href="https://starlight.astro.build/" target="_blank">Starlight</a>.
  </p>
</div>

<style>
  .footer-item {
    text-align: center;
    font-size: var(--sl-text-2xs);
    color: var(--sl-color-gray-2);
    margin-bottom: 0.25rem;
  }
</style>
